{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <div class="banner">
        <h2>Liste des sessions</h2>
    </div>

    <div class="wrapper">
        {% for session in sessions %}
        <table class="table responsive">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Formation</th>
                    <th>Session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Inscrits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {# Si la session est complète, on affiche "Session complète" #}
                    {% if session.nbPlace == session.stagiaires|length %}
                        <td data-label="Status" class="status-complet">Session complète</td>
                    {# Sinon on affiche "Session incomplet" #}
                    {% else %}
                        <td data-label="Status" class="status-incomplet">Session incomplet</td>
                    {% endif %}
                    {# Affiche le nom de la formation dont le stagiaire est inscrit #}
                    <td data-label="Formation" >
                        <p>{{ session.formation }}</p>
                    </td>
                    {# Affiche le lien et le nom de la session dont le stagiaire est inscrit #}
                    <td data-label="Session">
                        <a class="session" href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a>
                    </td>
                    {# Affiche la date de début de la session #}
                    <td data-label="Date de début">
                        <p>{{ session.dateSession|date('d/m/Y') }}</p>
                    </td>
                    {# Affiche la date de fin de la session #}
                    <td data-label="Date de fin">
                        <p>{{ session.dateFin|date('d/m/Y') }}</p>
                    </td>
                    {# On affiche combien de stagiaire sont inscrit dans cet session #}
                    <td data-label="Inscrits">
                        <p>{{ session.stagiaires|length }} / {{ session.nbPlace }}</p>
                    </td>
                    {# Affiche le lien de désinscription #}
                    <td data-label="Actions" class="edit">
                        <a href="{{ path('edit_session', {'id': session.id }) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>

{% endblock %}
