{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle session{% endblock %}

{% block body %}

    <div class="banner">
        <h2>
            {% if edit %}
                Modification session
            {% else %}
                Ajouter une nouvelle session
            {% endif %}
        </h2>
    </div>

    <div class="wrapper">
        <div class="container">
            {{ form_start(form) }}
                <div class="form-group">
                    <label for="{{ form.nom_session.vars.id }}">Nom de la session</label>
                    {{ form_widget(form.nom_session, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.nbPlace.vars.id }}">Nombre de places</label>
                    {{ form_widget(form.nbPlace, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.dateSession.vars.id }}">Date de début de session</label>
                    {{ form_widget(form.dateSession, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.dateFin.vars.id }}">Date de fin de session</label>
                    {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.stagiaires.vars.id }}">Stagiaires</label>
                    {{ form_widget(form.stagiaires, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.formation.vars.id }}">Formation</label>
                    {{ form_widget(form.formation, {'attr': {'class': 'form-control'}}) }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.formateur.vars.id }}">Formateur</label>
                    {{ form_widget(form.formateur, {'attr': {'class': 'form-control'}}) }}
                </div>
    
                <div class="form-group">
                    {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    

    

{% endblock %}