{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>Détail d'une session</h1>

    <h2>{{ session }} 
        <a class="edit" href="{{ path('edit_session', {'id': session.id }) }}">
            <i class="fa-regular fa-pen-to-square fa-lg" style="color: #d7bf1d;"></i>
        </a>
        <a href="{{ path('delete_session', {'id': session.id }) }}">
            <i class="fa-solid fa-xmark fa-lg" style="color: #d70404;"></i>
        </a>
    </h2>


    <div class="info-session">
        <p>Formateur référent : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></p><br>

        <p>
            Date de début : {{ session.dateSession|date('d/m/Y') }}<br>
            Date de fin : {{ session.dateFin|date('d/m/Y') }}<br>
            Nombre de place : {{ session.nbPlace }}<br>
            Nombre de places disponibles : {{ session.nbPlace - session.stagiaires|length }}<br>
            Nombre de modules : {{ session.programmes|length }}<br>
        </p>
    </div>

    <div class="table-grid">
        <div class="stagiaire">
            <div class="stagiaire-inscrit">
                <h3>Stagiaires inscrits</h3>
    
                <table>
                    <thead>
                        <tr>
                            <th>Stagiaire</th>
                            <th>Désinscrire</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        {# boucle for pour afficher les stagiaires inscrits #}
                        {% for stagiaire in session.stagiaires %}
                            <tr>
                                {# Nom du stagiaire avec lien vers détail stagiaire #}
                                <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                                <td><a href="{{ path('remove_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}"><i class="fa-solid fa-user-minus" style="color: #db0606;"></i></a></td>
                            </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>

            <div class="stagiaire-noninscrit">
                <h3>Stagiaires non inscrits</h3>
    
                <table>
                    <thead>
                        <tr>
                            <th>Stagiaire</th>
                            <th>Inscrire</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        {# boucle for pour afficher les stagiaires non inscrits #}
                        {% for stagiaire in stagiairesNonInscrit %}
                                <tr>
                                    <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                                    <td><a href="{{ path('add_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}"><i class="fa-solid fa-user-plus" style="color: #11b706;"></i></a></td>
                                </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>
        </div>

        <div class="programme">
            <div class="programmer">
                <h3>Programme</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Catégorie</th>
                            <th>Durée</th>
                            <th>Retirer</th>
                        </tr>
                    </thead>
                    <tbody>

                        {# boucle for pour afficher les modules du programme #}
                        {% for programme in session.programmes %}
                            <tr>
                                <td>{{ programme.module }}</td>
                                <td>{{ programme.module.categories }}</td>
                                <td>{{ programme.dureeJour }}</td>
                                <td><a href="{{ path('remove_module', {'id':session.id, 'programme': programme.id}) }}"><i class="fa-regular fa-square-minus" style="color: #c91313;"></i></a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Total de jours:</td>
                            <td></td>
                            {# affiche le total de jours de la session #}
                            <td>
                                {{ session.programmes|map(item => item.dureeJour)|reduce((carry, item) => carry + item, 0) }}
                            </td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="non-programmer">
                <h3>Modules non programmés</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Catégorie</th>
                            <th>Durée</th>
                            <th>Ajout</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# Loop through the modules #}
                        {% for module in modulesNonProgrammer %}
                        <tr>
                            <td>{{ module.nomModule }}</td>
                            <td>{{ module.categories }}</td>
                            <td>
                                <form action="{{ path('add_module', {'id':session.id, 'module':module.id}) }}" method="post">
                                <input type="number" name="duree" id="duree" value="1" min="1">
                            </td>
                            <td>
                                <button type="submit" name="submit" id="submit" style="border: none; background: none; cursor: pointer;">
                                    <i class="fa-regular fa-square-plus" style="color: #15c621;"></i>
                                </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

{% endblock %}