{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Détail d'une session</h2>
    </div>

    <div class="wrapper">
        <div class="session-detail">
            <h2>{{ session }}</h2>
            <div class="modal">
                <div class="confirm-delete">
                    <p>Êtes-vous sûr de vouloir supprimer {{ session }} ? cet action est irréversible.</p><br>
                    <p>Tous les stagiaires inscrits à cette session seront également supprimer.</p><br>
                    {# lien vers la suppression de la session #}
                    <a class="supp-form" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
                    <button class="cancel">Annuler</button>
                </div>
            </div>
            <script>

                // On récupère les éléments du DOM
                const modal = document.querySelector('.modal');
                // On récupère la balise i qui contient l'icone de suppression
                const btnSupp = document.querySelector('.fa-xmark');
                const btnCancel = document.querySelector('.cancel');

                // On ajoute un écouteur d'évènement sur le bouton de suppression
                btnSupp.addEventListener('click', function() {
                    modal.style.display = 'block';
                });

                // On ajoute un écouteur d'évènement sur le bouton d'annulation
                btnCancel.addEventListener('click', function() {
                    modal.style.display = 'none';
                });

            </script>
            <div>
                <p>Formateur référent : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></p><br>

                <p>
                    Date de début : {{ session.dateSession|date('d/m/Y') }}<br>
                    Date de fin : {{ session.dateFin|date('d/m/Y') }}<br>
                    Nombre de place : {{ session.nbPlace }}<br>
                    Nombre de places disponibles : {{ session.nbPlace - session.stagiaires|length }}<br>
                    Nombre de modules : {{ session.programmes|length }}<br>
                </p>
                <div class="action">
                    <a class="edit" href="{{ path('edit_session', {'id': session.id }) }}">
                        <i class="fa-regular fa-pen-to-square fa-lg" style="color: #d7bf1d;"></i>
                    </a>
                    <p><i class="fa-solid fa-xmark fa-lg" style="color: #d70404;"></i></p>
                </div>
                <br>
                {# Si il n'y a plus de place disponible on affiche un message #}
                {% if session.nbPlace - session.stagiaires|length == 0 %}
                    <p style="color: rgb(248, 60, 60);">Il n'y a plus de place disponible pour cette session.</p>
                {% endif %}
            </div>
        </div>
    
        <div class="table-grid">
            <div class="stagiaire">
                <div class="stagiaire-inscrit">
                    <h4>Stagiaires inscrits</h4>
        
                    <table>
                        <thead>
                            <tr>
                                <th>Stagiaire</th>
                                <th>Désinscrire</th>
                            </tr>
                        </thead>
                        <tbody>
        
                            {# boucle for pour afficher les stagiaires inscrits #}
                            {% for stagiaire in session.stagiaires %}
                                <tr>
                                    {# Nom du stagiaire avec lien vers détail stagiaire #}
                                    <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                                    <td><a href="{{ path('remove_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}"><i class="fa-solid fa-user-minus" style="color: #db0606;"></i></a></td>
                                </tr>
                            {% endfor %}
        
                        </tbody>
                    </table>
                </div>
    
                <div class="stagiaire-noninscrit">
                    <h4>Stagiaires non inscrits</h4>
        
                    <table>
                        <thead>
                            <tr>
                                <th>Stagiaire</th>
                                <th>Inscrire</th>
                            </tr>
                        </thead>
                        <tbody>
        
                            {# boucle for pour afficher les stagiaires non inscrits #}
                            {% for stagiaire in stagiairesNonInscrit %}
                                    <tr>
                                        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                                        {# on affiche l'icon inscrire stagiaire si il reste de la place sinon, on affiche un message #}
                                        {% if session.nbPlace - session.stagiaires|length > 0 %}
                                            <td><a href="{{ path('add_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}"><i class="fa-solid fa-user-plus" style="color: #15c621;"></i></a></td>
                                        {% else %}
                                            <td><p style="color: rgb(248, 60, 60);">Complet</p></td>
                                        {% endif %}
                                    </tr>
                            {% endfor %}
        
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="programme">
                <div class="programmer">
                    <h4>Programme</h4>
    
                    <table>
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Catégorie</th>
                                <th>Durée</th>
                                <th>Retirer</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            {# boucle for pour afficher les modules du programme #}
                            {% for programme in session.programmes %}
                                <tr>
                                    <td>{{ programme.module }}</td>
                                    <td>{{ programme.module.categories }}</td>
                                    <td>{{ programme.dureeJour }}</td>
                                    <td><a href="{{ path('remove_module', {'id':session.id, 'programme': programme.id}) }}"><i class="fa-regular fa-square-minus" style="color: #c91313;"></i></a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>Total de jours:</td>
                                <td></td>
                                {# affiche le total de jours de la session #}
                                <td>
                                    {{ session.programmes|map(item => item.dureeJour)|reduce((carry, item) => carry + item, 0) }}
                                </td>
                                <td></td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
                <div class="non-programmer">
                    <h4>Modules non programmés</h4>
    
                    <table>
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Catégorie</th>
                                <th>Durée</th>
                                <th>Ajout</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# Loop through the modules #}
                            {% for module in modulesNonProgrammer %}
                            <tr>
                                <td>{{ module.nomModule }}</td>
                                <td>{{ module.categories }}</td>
                                <td>
                                    <form action="{{ path('add_module', {'id':session.id, 'module':module.id}) }}" method="post">
                                    <input type="number" name="duree" id="duree" value="1" min="1">
                                </td>
                                <td>
                                    <button type="submit" name="submit" id="submit" style="border: none; background: none; cursor: pointer;">
                                        <i class="fa-regular fa-square-plus" style="color: #15c621;"></i>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}