{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Détail d'une session</h2>
    </div>

    <div class="wrapper">
        <div class="session-detail">
            <div>
                <h2>{{ session }}</h2>
                <div class="modal">
                    <div class="confirm-delete">
                        <p>Êtes-vous sûr de vouloir supprimer {{ session }} ? cet action est irréversible.</p><br>
                        {# lien vers la suppression de la session #}
                        <a class="supp-form" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
                        <button class="cancel">Annuler</button>
                    </div>
                </div>
                <script>

                    // On vérifie que tout le contenu du dom est chargé avant d'executer le script
                    document.addEventListener('DOMContentLoaded', function() {

                    // On récupère les éléments du DOM
                        const modal = document.querySelector('.modal');
                        // On récupère la balise i qui contient l'icone de suppression
                        const btnSupp = document.querySelector('.delete');
                        const btnCancel = document.querySelector('.cancel');

                        // On ajoute un écouteur d'évènement sur le bouton de suppression
                        btnSupp.addEventListener('click', function() {
                            modal.style.display = 'block';
                        });

                        // On ajoute un écouteur d'évènement sur le bouton d'annulation
                        btnCancel.addEventListener('click', function() {
                            modal.style.display = 'none';
                        });
                    });

                </script>
                <div>
                    <p class="formateur">Formateur référent : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></p><br>
                    <div class="subinfo">
                        <p><i class="fa-solid fa-calendar-days"></i> Date de début : {{ session.dateSession|date('d/m/Y') }}</p>
                        <p><i class="fa-solid fa-calendar-days"></i> Date de fin : {{ session.dateFin|date('d/m/Y') }}</p>
                        <p><i class="fa-solid fa-chair"></i> Nombre de place : {{ session.nbPlace }}</p>
                        <p><i class="fa-solid fa-chair"></i> Nombre de places disponibles : {{ session.nbPlace - session.stagiaires|length }}</p>
                        <p><i class="fa-solid fa-clipboard-list"></i> Nombre de modules : {{ session.programmes|length }}</p>
                    </div>
                    <div class="action">
                        <a class="edit" href="{{ path('edit_session', {'id': session.id }) }}">
                            <i class="fa-regular fa-pen-to-square fa-lg"></i>
                        </a>
                        <p class="delete"><i class="fa-solid fa-xmark fa-lg"></i></p>
                    </div>
                    <br>
                    {# Si il n'y a plus de place disponible on affiche un message #}
                    {% if session.nbPlace - session.stagiaires|length == 0 %}
                        <p class="no-slot">Il n'y a plus de place disponible pour cette session.</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="stagiaire combined">
                    <div>
                        <h4><i class="fa-regular fa-square-check"></i> Stagiaires inscrits</h4>
                        <div class="stagiaire-inscrit">
                            <ul>
                                {# boucle for pour afficher les stagiaires inscrits #}
                                {% for stagiaire in session.stagiaires %}
                                {# Nom du stagiaire avec lien vers détail stagiaire #}
                                <li>
                                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
                                        <i class="fa-solid fa-user"></i> {{ stagiaire }}
                                    </a>
                                    <a class="delete" href="{{ path('remove_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}">
                                        <i class="fa-solid fa-user-minus" style="color: #db0606;"></i>
                                    </a>
                                    <a href="{{ path('generate_pdf_attestation', { 'id': session.id, 'stagiaireId': stagiaire.id }) }}">
                                        <i class="fa-solid fa-file-pdf"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                        </div>
                    </div>
                    <div>
                        <h4><i class="fa-regular fa-square-minus"></i> Stagiaires non inscrits</h4>
                        <div class="stagiaire-noninscrit">
                            <ul>
                                {# boucle for pour afficher les stagiaires non inscrits #}
                                {% for stagiaire in stagiairesNonInscrit %}
                                <li>
                                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
                                        <i class="fa-solid fa-user"></i> {{ stagiaire }}
                                    </a>
                                    {% if session.nbPlace - session.stagiaires|length > 0 %}
                                    <a class="add" href="{{ path('add_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}">
                                        <i class="fa-solid fa-user-plus" style="color: #15c621;"></i>
                                    </a>
                                </li>
                                {# on affiche l'icon inscrire stagiaire si il reste de la place sinon, on affiche un message #}
                                {% else %}
                                    <p class="complet" style="color: rgb(248, 60, 60);"><i class="fa-solid fa-ban"></i></p>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="stagiaire mobile">
                <div>
                    <h4><i class="fa-regular fa-square-check"></i> Stagiaires inscrits</h4>
                    <div class="stagiaire-inscrit">
                        <ul>
                            {# boucle for pour afficher les stagiaires inscrits #}
                            {% for stagiaire in session.stagiaires %}
                            {# Nom du stagiaire avec lien vers détail stagiaire #}
                            <li>
                                <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
                                    <i class="fa-solid fa-user"></i> {{ stagiaire }}
                                </a>
                                <a class="delete" href="{{ path('remove_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}">
                                    <i class="fa-solid fa-user-minus" style="color: #db0606;"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                </div>
                <div>
                    <h4 class="h4"><i class="fa-regular fa-square-minus"></i> Stagiaires non inscrits</h4>
                    <div class="stagiaire-noninscrit">
                        <ul>
                            {# boucle for pour afficher les stagiaires non inscrits #}
                            {% for stagiaire in stagiairesNonInscrit %}
                            <li>
                                <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">
                                    <i class="fa-solid fa-user"></i> {{ stagiaire }}
                                </a>
                                {% if session.nbPlace - session.stagiaires|length > 0 %}
                                <a class="add" href="{{ path('add_stagiaire', {'id':session.id, 'stagiaire': stagiaire.id}) }}">
                                    <i class="fa-solid fa-user-plus" style="color: #15c621;"></i>
                                </a>
                            </li>
                            {# on affiche l'icon inscrire stagiaire si il reste de la place sinon, on affiche un message #}
                            {% else %}
                                <p class="complet" style="color: rgb(248, 60, 60);">Complet</p>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="programme">
                <div>
                    <h4 class="h4"><i class="fa-brands fa-uncharted"></i> Programme</h4>
                    <div class="programmer">
                        {# boucle for pour afficher les modules du programme #}
                        {% for programme in session.programmes %}
                        <div class="module-on">
                            <div class="first">
                                <div class="line-one">
                                    <p class="light">Module</p>
                                    <p>{{ programme.module }}</p>
                                </div>
                                <div class="line-two">
                                    <p class="light">Catégorie</p>
                                    <p>{{ programme.module.categories }}</p>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="second">
                                <div class="line-one">
                                    <p class="light">Durée</p>
                                    <p>{{ programme.dureeJour }}</p>
                                </div>
                                <div class="line-two">
                                    <p class="light">Retirer</p>
                                    <p><a href="{{ path('remove_module', {'id':session.id, 'programme': programme.id}) }}"><i class="fa-regular fa-square-minus" style="color: #c91313;"></i></a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="total">
                        <p>Total de jours : {{ session.programmes|map(item => item.dureeJour)|reduce((carry, item) => carry + item, 0) }}</p>
                    </div>
                </div>

                <div>
                    <h4 class="h4"><i class="fa-brands fa-uncharted"></i> Modules non programmés</h4>
                    <div class="non-programmer">
                        {# Loop through the modules #}
                        {% for module in modulesNonProgrammer %}
                        <div class="module-on">
                            <div class="first">
                                <div class="line-one">
                                    <p class="light">Module</p>
                                    <p>{{ module.nomModule }}</p>
                                </div>
                                <div class="line-two">
                                    <p class="light">Catégorie</p>
                                    <p>{{ module.categories }}</p>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="second">
                                <div class="line-one">
                                    <p class="light">Durée</p>
                                    <p>
                                        <form action="{{ path('add_module', {'id':session.id, 'module':module.id}) }}" method="post">
                                        <input class="duree" type="number" name="duree" id="duree" value="1" min="1">
                                    </p>
                                </div>
                                <div class="line-two">
                                    <p class="light">Ajout</p>
                                    <p>
                                        <button type="submit" name="submit" id="submit" style="border: none; background: none; cursor: pointer;">
                                            <i class="fa-regular fa-square-plus fa-xl" style="color: #15c621;"></i>
                                        </button>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>

{% endblock %}