{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

    <h1>Liste des modules</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module }}</td>
                    <td>{{ module.categories }}</td>
                    <td>
                        <a href="{{ path('edit_modules', {'id': module.id}) }}"><i class="fa-regular fa-pen-to-square" style="color: #febe34;"></i></a>
                        <i class="fa-solid fa-xmark fa-lg" style="color: #d70404;"></i>
                    </td>
                </tr>
                <div class="modal">
                    <div class="confirm-delete">
                        <p>Êtes-vous sûr de vouloir supprimer {{ module }} ? cet action est irréversible.</p><br>
                        <p>Toutes les session de cette formation seront également supprimer.</p><br>
                        {# lien vers la suppression de module #}
                        <a class="supp-form" href="{{ path('delete_modules', {'id': module.id}) }}">Supprimer</a>
                        <button class="cancel">Annuler</button>
                    </div>
                </div>

                <script>

                    // On récupère les éléments du DOM
                    const modal = document.querySelector('.modal');
                    // On récupère la balise i qui contient l'icone de suppression
                    const btnSupp = document.querySelector('.fa-xmark');
                    const btnCancel = document.querySelector('.cancel');
            
                    // On ajoute un écouteur d'évènement sur le bouton de suppression
                    btnSupp.addEventListener('click', function() {
                        modal.style.display = 'block';
                    });
            
                    // On ajoute un écouteur d'évènement sur le bouton d'annulation
                    btnCancel.addEventListener('click', function() {
                        modal.style.display = 'none';
                    });
            
                </script>
            {% endfor %}
            
        </tbody>

{% endblock %}
