{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Liste des modules</h2>
    </div>

    <div class="wrapper">
        <table class="module-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    <tr>
                        <td>{{ module }}</td>
                        <td>{{ module.categories }}</td>
                        <td class="action" >
                            <a href="{{ path('edit_modules', {'id': module.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <button class="supp">
                                <i class="fa-solid fa-xmark fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    <div class="modal">
                        <div class="confirm-delete">
                            <p>Êtes-vous sûr de vouloir supprimer {{ module }} ? cet action est irréversible.</p><br>
                            {# lien vers la suppression de module #}
                            <a class="supp-form" href="{{ path('delete_modules', {'id': module.id}) }}">Supprimer</a>
                            <button class="cancel">Annuler</button>
                        </div>
                    </div>
    
                    <script>
    
                        // DOMContentLoaded 
                        document.addEventListener('DOMContentLoaded', function() {
    
                            // On récupère tout les div qui ont la classe modal
                        const modal = document.querySelectorAll('.modal');
                        // On récupère tout les button qui ont la classe delete
                        const btnSupp = document.querySelectorAll('.supp');
                        // On récupère tout les button qui ont la classe cancel
                        const btnCancel = document.querySelectorAll('.cancel');

                        // On ajoute un écouteur d'évènement sur tout les boutons de suppression
                        for (let i = 0; i < btnSupp.length; i++) {
                            btnSupp[i].addEventListener('click', function() {
                                modal[i].style.display = 'block';
                            });
                        }

                        // On ajoute un écouteur d'évènement sur tout les boutons d'annulation
                        for (let i = 0; i < btnCancel.length; i++) {
                            btnCancel[i].addEventListener('click', function() {
                                modal[i].style.display = 'none';
                            });
                        }
                        });
                
                    </script>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

{% endblock %}
