{% extends 'base.html.twig' %}

{% block title %}Ajouter un module{% endblock %}

{% block body %}

    <div class="banner">
        <h2>
            {% if edit %}
                Modification module
            {% else %}
                Ajouter un module
            {% endif %}
        </h2>
    </div>

    <div class="wrapper">
        <div class="container">
            {{ form_start(form) }}
            
                <div class="form-group">
                    <label for="">Nom du module</label>
                    {{ form_widget(form.nomModule, {'attr': {'class': 'form-control'}}) }}
                </div>
    
                <div class="form-group">
                    <label for="">Catégorie du module</label>
                    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                </div>
    
                <div class="form-group">
                    {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
    
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}