{% extends 'base.html.twig' %}

{% block title %}Ajouter un formateur{% endblock %}

{% block body %}

    <div class="banner">
        <h2>
            {% if edit %}
                Modification Formateur
            {% else %}
                Ajouter un formateur
            {% endif %}
        </h2>
    </div>

    <div class="wrapper">
        <div class="container">
            {{ form_start(form) }}
    
                <div class="form-group">
                    <label for="">Nom du formateur</label>
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    <label for="">Prenom du formateur</label>
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
    
                <div class="form-group">
                    {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
    
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}